<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
    <link herf="~/li/bootstrap/css/bootstra.css" real="stylesheet" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.3.3/css/bootstrap.min.css" integrity="sha512-jnSuA
</head>
<body>
    @* start header *@
    <header>
        <center>
            <nav class="mt-5">

                <a herf="/Home/index" class="btn btn-primary m-2">Home</a>
                <a herf="/Home/privacy" class="btn btn-warning m-2">privacy</a>
                <a herf="/Home/AboutUs" class="btn btn-success m-2">About Us</a>
                <a herf="/Home/ContectUs" class="btn btn-secondary m-2">contect Us</a>



            </nav>
        </center>
    </header>
    @* end header *@
    <div>
        
    @* start body *@
    <section>
        <center>
            <div class="mt-2 bg-primary p-5 w-75">
                <h1> welcome to home page </h1>
                <p> Route Academy</p>

            </div>
        </center>
    </section>
    @* end body *@()
    </div>
    @* start footer *@
    <footer>
        <center>
            <div class="mt-2">
                <p>CopyRights &copy; Route @DateTime.Now.Year</p>

            </div>

        </center>
    </footer>
    @* end footer *@
</body>
</html>
